
@{
    ViewData["Title"] = "shop Add";
}
@model IEnumerable<Warehouse.Models.ShopTypes>

<h1>@ViewData["Title"]</h1>


    <form action="/Shop/shopPage" method="post" enctype="multipart/form-data">
        <div>
            <span id="Name">
                Name
            </span>
            <input type="text" name="name" value="" required />
        </div>
        <div>
            <span>
                Address
            </span>
            <input type="text" name="Address" value="" required />
        </div>
        <div>
            
            <label for="browser">Choose your shop type from the list:</label>
          
            <select name="Type">
                @foreach (var item in Model)
                {
                    <option value="@item.Type"> @item.Type </option>
                }
            </select>       
            
        </div>
        <div>
            <input type="submit" name="damateba" value="Add" />
        </div>
    </form>
